@{
    ViewBag.Title = "Home Page";
}


<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
     style="background:url(../Content/src/assets/images/big/auth-bg.jpg) no-repeat center center; ">
    <div class="auth-box row">
        <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../Content/src/assets/images/big/6.jpg);">
        </div>
        <div class="col-lg-5 col-md-7 bg-white">
            <div class="p-3">
                <div class="text-center">
                    <img src="~/Content/src/assets/images/big/IUL_Logo.png" alt="wrapkit" style="height:133px;">
                </div>
                <h3 class="mt-3 text-center"><strong style="color:#32105c;">SCHOLAR TRACKER</strong></h3>
                <form class="mt-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <select class="form-select" aria-label="Default select example" id="userType">
                                    <option selected="">Select User Type</option>
                                    <option value="HODCOD">HOD/COORDINATOR</option>
                                    <option value="GUIDE">RESEARCH GUIDE</option>
                                    <option value="SCHOLAR">RESEARCH SCHOLAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label class="form-label text-dark" for="uname">Username</label>
                                <input class="form-control" id="uname" type="text"
                                       placeholder="enter your username">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-3">
                                <label class="form-label text-dark" for="pwd">Password</label>
                                <input class="form-control" id="pwd" type="password"
                                       placeholder="enter your password">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn w-100 btn-dark" onclick="signIn()">Sign In</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            Don't have an account? <a href="@Url.Action("SignUp", "Home")" class="text-danger">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function signIn() {
        event.preventDefault(); // prevent default form submission

        const userType = $('#userType').val();
        const userName = $('#uname').val().trim();
        const password = $('#pwd').val().trim();

        if (!userType || !userName || !password) {
            alert("All fields are required.");
            return;
        }

        // ✅ Show loader
        $('#global-loader').removeClass('d-none');

        $.ajax({
            type: 'POST',
            url: '/Home/Index',
            data: {
                UserType: userType,
                UserName: userName,
                Password: password
            },
            success: function (response) {
                $('#global-loader').addClass('d-none');

                if (typeof response === 'string' && response.startsWith('/')) {
                    window.location.href = response;
                } else if (response.error) {
                    alert(response.error);
                } else {
                    alert("Unexpected response.");
                }
            },
            error: function (xhr, status, error) {
                $('#global-loader').addClass('d-none');
                alert("Login failed. Please check your credentials.");
                console.log("Error:", error);
            }
        });
    }
s
</script>